{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'bootstrap3-dialog/css/bootstrap-dialog.min.css' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static 'bootstrap3-dialog/js/bootstrap-dialog.min.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <script>if(top.location!==self.location){top.location=self.location;}else if(top!==self){alert('点击确定重新载入页面');top.location.reload();}</script>
    <title>{{ title }} - Search</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
