{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% if p < page_count %}
<link rel="prefetch" href="{% url 'search' %}?{{ query_string }}&p={{ p|add:1 }}">
<link rel="prerender" href="{% url 'search' %}?{{ query_string }}&p={{ p|add:1 }}">
{% endif %}
<script type="text/javascript">
//<![CDATA[
var highlight_re_str = {{ highlight_re|safe }};
var highlight_re = new RegExp(highlight_re_str, "gi");
//]]>
</script>
{% endblock %}
{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'main' %}">Search</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form" action="{% url 'search' %}" method="GET">
        <div class="form-group search-box">
          <input type="text" name="q" value="{{ q }}" class="form-control" style="width: 100%;">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Search</button>
            <a class="btn btn-info" href="{% url 'advanced' %}?{{ query_string }}" role="button">Advanced</a>
        </div>
      </form>
    </div>
  </div>
</nav>
<div class="container">
    {% if results %}
    <div class="page-header">
        <h1>Results</h1>
        <p class="lead">Found {{ count }} results in {{ query_time }} seconds{% if cache_hit %} (cached){% endif %}.</p>
    </div>
    {% for result in results %}
    <h3>{% if result.is_ad %}<span class="label label-primary">AD</span> {% endif %}{% if result.is_official %}<span class="label label-primary">Official</span> {% endif %}<a href="{% url 'page_go' pk=result.pk %}" target="_blank">{{ result.title_highlighted|safe }}</a></h3>
    <p class="text-success"><span title="{{ result.url }}">{{ result.url_short }}</span> <a class="text-info snapshot" href="javascript:;" data-id="{{ result.id }}" title="At {{ result.download_at }}">Snapshot</a> <a class="text-info report" href="javascript:;" data-id="{{ result.id }}">Report</a></p>
    <p><span class="text-info">Updated at {{ result.update_at }} - </span>{{ result.content_highlighted|safe }}</p>
    <hr>
    {% endfor %}
    <nav aria-label="pagination">
        <ul class="pagination">
            {% if p == 1 %}
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% else %}
            <li><a href="{% url 'search' %}?{{ query_string }}&p={{ p|add:-1 }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}
            {% for page in pages %}
            {% if page == p %}
            <li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
            {% else %}
            <li><a href="{% url 'search' %}?{{ query_string }}&p={{ page }}">{{ page }}</a></li>
            {% endif %}
            {% endfor %}
            {% if p >= page_count %}
            <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            {% else %}
            <li><a href="{% url 'search' %}?{{ query_string }}&p={{ p|add:1 }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
    <div class="page-header">
        <h1>Sorry</h1>
        <p class="lead">Your search did not match any documents.</p>
    </div>
    <p class="text-info">Suggestions:</p>
    <ul>
        <li>Make sure all words are spelled correctly.</li>
        <li>Try different keywords.</li>
        <li>Try more general keywords.</li>
    </ul>
    {% endif %}
</div>
{% endblock %}