{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<style>
    .keyword {
        color: red;
    }
</style>
{% endblock %}
{% block body %}
<div id="main">
<div id="header">
    <span id="blog" class="miniblock"><a href="{% url 'index' %}">Search</a></span>
</div>
<form action="{% url 'search' %}" method="GET">
    <input type="text" name="q" value="{{ q }}"> {{ word_count }}
    <input type="submit" name="operation" value="Search">
</form>
{{ count }} results, {{ page_count }} pages.
Show {{ count_current_page }}.
{% for result in results %}
<p>
<a href="{{ result.url }}" target="_blank">{{ result.title_highlighted|safe }}</a>
</p>
<p>{{ result.content_highlighted|safe }}</p>
{% endfor %}
<nav aria-label="pagination">
    <ul class="pagination">
        {% if p == 1 %}
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% else %}
        <li><a href="{% url 'search' %}?q={{ q }}&p={{ p|add:-1 }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}
        {% for page in pages %}
        {% if page == p %}
        <li class="active"><a href="{% url 'search' %}?q={{ q }}&p={{ page }}">{{ page }} <span class="sr-only">(current)</span></a></li>
        {% else %}
        <li><a href="{% url 'search' %}?q={{ q }}&p={{ page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        {% if p >= page_count %}
        <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        {% else %}
        <li><a href="{% url 'search' %}?q={{ q }}&p={{ p|add:1 }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        {% endif %}
    </ul>
</nav>
</div>
{% endblock %}