body { overflow:hidden; }
#main { opacity:0; }
#logo { width:450px;height:100;margin:0 auto;margin-top:20%; }
#Wd1 { width:100px;height:100px;margin-top:100px;background:url(../img/Wd1.png) no-repeat;background-size:100px auto; }
#Wd2 { opacity:0;width:100px;height:100px;margin-top:-100px;background:url(../img/Wd2.png) no-repeat;background-size:100px auto; }
#banner { float:left;width:100%;height:100px;margin-left:100px;margin-top:-100px;background:url(../img/wandais.png) no-repeat;background-size:auto 100px; }
#txtbox { opacity:0.7;margin-left:auto;margin-right:auto;margin-top:20px;width:50%;text-align:center; }
#loadingbox { opacity:0.1; }
#btnbox { margin-left:auto;margin-right:auto;margin-top:10px;width:50%;text-align:center; }
#header { opacity:0.7;height:30px;width:100%;margin:0 auto;padding:5px;text-align:left;color:#AAA;position:fixed;top:0px;background:url(../img/border.png) repeat-x;background-size:1px 30px; }
#footer { width:100%;text-align:center;color:#888;position:fixed;bottom:10px; }
#bgbuffer1 { position:fixed;top:0px;left:0px;z-index:-1;width:100%;height:100%;background:url(../img/bg5.jpg) repeat-y;background-size:100% auto; }
#bgbuffer2 { opacity:0;position:fixed;top:0px;left:0px;z-index:-1;width:100%;height:100%;background:url(../img/bg1.jpg) repeat-y;background-size:100% auto; }
.textbox { font-size:20px;line-height: 30px; }
.custombox { z-index:1;display:none;opacity:0;position:absolute;top:30px;left:30px;background:#FFF; }
.custombox-header { opacity:0.7;position:absolute;left:0px;height:20px;top:-20px;color:#AAA;background:url(../img/border.png) repeat-x;background-size:1px 30px;width:100%;text-align:center; }
.custombox-data { overflow-x:hidden;overflow-y:auto;padding:5px;position:absolute;top:0px;width:-webkit-calc(100% - 10px);width:-moz-calc(100% - 10px);width:calc(100% - 10px);height:-webkit-calc(100% - 10px); }
.custombox-close-button { position:absolute;top:2px;right:2px;background:url(../img/close.png) no-repeat;width:16px;height:16px; }
.custombox-refresh-button { position:absolute;top:2px;left:2px;background:url(../img/refresh.png) no-repeat;width:16px;height:16px; }
#aqi { top:20%;left:30px;height:400px;width:250px; }
#uptime { top:90px;left:-webkit-calc(50% - 350px);left:-moz-calc(50% - 350px);left:calc(50% - 350px);height:80px;width:700px; }
